.book {
    width: 280px;
    margin-bottom: 50px;
}

.book img {
    object-fit: fill;
    width: 100%;
    height: 375px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 10px 0px #00000075;
    -moz-box-shadow: 0 0 10px 0px #00000075;
    box-shadow: 0 0 10px 0px #00000075;
}

.book a {
    text-decoration: none;
}

.book p {
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
}

.title {
    font-size: large;
}

.subtitle {
    font-style: italic;
}

#filter-panel {
    margin-bottom: 40px;
}

#filter-panel select {
    width: auto;
}

#filter-panel .control {
    margin-right: 10px;
}

#filter-panel .card-body {
    padding: 5px 15px 10px 15px;
}

#search-button {
    height: 35px;
    width: 35px;
}

#search-query {
    height: 35px;
    width: calc(100% - 35px);
}

#search-col {
    min-width: 300px;
}

.cursor-pointer {
    cursor: pointer;
}

@media only screen and (min-width: 750px) {

    .table td.fit,
    .table th.fit {
        white-space: nowrap;
        width: 1%;
    }
}

@media only screen and (min-width: 950px) {

    .table td.fit,
    .table th.fit {
        padding-right: 15px;
    }
}

.table .actions {
    white-space: nowrap;
    width: 1%;
}

.book a{
    color: unset;
}

.tooltip-inner {
    white-space:pre-wrap;
    max-width: 800px;
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }