<IfModule mod_rewrite.c>
    # Send all requests to the index.php file
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ /index.php [L,QSA]

    # Disable directory listing
    Options All -Indexes
</IfModule>