body {
    background-color: #2a2a2e;
}

.content {
    position: relative;
    width: 100%;
    padding: 0px;
}

#select-root {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#select-root ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#select-root li{
    margin: auto;
    max-width: 300px;
    margin-top: 20px;
    color: white;
}

@media only screen and (max-width: 574px) {
    #select-root a {
        margin: 0px;
    }
}