.card {
    width: 100%;
    max-width: 800px;
}

#read {
    margin-right: 10px;
}

.bottom-button {
    min-width: 100px;
}

@media only screen and (max-width: 630px) {
    .bottom-button {
        margin-bottom: 10px;
        width: 100%;
        min-width: 150px;
    }
    .dropdown-menu
    {
        width: 100%;
    }
    .card-footer .col{
        min-width: 200px;
        margin-bottom: 5px;
    }
}

#rowSplit .col {
    min-width: 300px;
}

#cover {
    object-fit: fill;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 10px 0px #00000075;
    -moz-box-shadow: 0 0 10px 0px #00000075;
    box-shadow: 0 0 10px 0px #00000075;
}

#cover,
#cover-root {
    width: 100%;
    max-width: 300px;
}

#cover-file {
    border: none;
    padding: 0px;
}

#cover-file-group {
    margin-top: 5px;
}


#auto-fill-cover {
    border: solid 1px black;
    object-fit: contain;
    width: 230px;
    height: 310px;
}

#auto-fill-search-button {
    height: 37px;
    width: 37px;
    margin-left: 10px;
}

.auto-fill-page-button {
    width: 35px;
    height: 35px;
}

#auto-fill-apply {
    margin-right: 10px;
}

#auto-fill-language{
    max-width: 60px;
    margin-right: 10px;
}