/* lists tab */
#lists {
	cursor: pointer;
}

/* task group layout */
#tasks {
	padding: 1em;
	overflow-x: hidden;
}

#tasks li {
	padding: 0px;
	height: 60px;
	border-radius: 4px;
	margin-bottom: 6px;
}

#tasks .container,
#tasks .row {
	padding: 0px;
	margin: 0px;
}


#tasks .container,
#tasks .row,
#tasks .col,
#tasks .col .align-items-center {
	height: inherit;
}

#tasks .row .col:nth-child(1) {
	padding-right: 7px;
	padding-left: 17px;
	flex-grow: 0;
}

#tasks .row .col:nth-child(2) {
	padding-right: 10px;
	padding-left: 10px;
}

/* task elements */
.task-name {
	font-size: 1.2em;
	text-transform: capitalize;
	font-weight: 500;
}

.task-star {
	position: absolute;
	right: 0px;
}

.task-star i {
	padding: 5px;
}

.task-time {
	position: absolute;
	right: 2px;
	bottom: 0px;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 0.82rem;
}

/* checkbox */
.checkbox input {
	width: 27px !important;
	height: 27px !important;
}

.checkbox input {
	--s: 2px;
	--b: var(--border-hover);
}

/* lists */
.nav-tabs .nav-link::before {
	height: 0.225rem;
}

.nav-tabs-material .nav-tabs-indicator {
	height: 0.225rem;
}

.nav-tabs-material.animate .nav-tabs-indicator {
	transition-duration: 0.6s;
}

/* edit */
.modal-backdrop.fade,
.modal.fade {
	transition-duration: 0.15s;
}

.dropdown-toggle {
	width: 100%;
	text-align: left;
	border: 1px solid var(--dark-light);
	border-width: 0px 0px 1px !important;
	border-radius: 0px !important;
}

.dropdown-toggle:after {
	float: right;
}

.dropdown,
.dropdown-menu {
	width: 100%;
}

.dropdown,
.dropdown button {
	text-transform: capitalize;
}

.dropdown,
.dropdown-menu:before,
.dropdown-item,
.dropdown-divider,
.dropdown-menu,
#edit-list-options {
	animation-duration: 0s !important;
	transition-duration: 0s !important;
}


#editModal textarea {
	border-width: 0px 0px 1px !important;
	border-radius: 0px !important;
}

.date-overdue {
	color: var(--danger);
}

.modal-footer {
	display: block;
}

#edit-delete {
	float: left;
}

#edit-save, #edit-new {
	float: right;
}

#edit-list-dropdown button {
	padding-left: 0px;
}

#edit-description {
	padding-left: 0px;
}

#new-button{
    position: absolute;
    right: 10px;
    bottom: 14px;
    width: 50px;
    height: 50px;
    min-width: 0px;
	border-radius: 100%;
    background-color: var(--light-blue);
    color: var(--light-light);
}