/* lists tab */
#lists {
	cursor: pointer;
}

/* tasks */
#tasks li {
	padding: 0px;
    height: 60px;
    border-radius: 6px;
    margin-bottom: 6px;
}

#tasks .container,
#tasks .row {
	padding: 0px;
	margin: 0px;
}


#tasks .container,
#tasks .row,
#tasks .col,
#tasks .col .align-items-center {
	height: inherit;
}

#tasks .row .col:nth-child(1) {
	padding-right: 10px;
	padding-left: 20px;
	flex-grow: 0;
}
#tasks .row .col:nth-child(2) {
	padding-right: 10px;
	padding-left: 10px;
}


.checkbox input {
	width: 27px !important;
	height: 27px !important;
}

.task-name {
	font-size: 1.2em;
	text-transform: capitalize;
	font-weight: 500;
}

.task-star {
	position: absolute;
	right: 0px;
}

.task-star i {
	padding: 5px;
	font-size: 1.2em;
}

.task-time {
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-color: #0000000a;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 0.82rem;
	border-top: 1px solid #0000004d;
	border-left: 1px solid #0000004d;
}


body{
	background-color: var(--blue-grey);
}
#tasks{
	padding: 1em;
}
.nav-tabs .nav-link::before {
    height: 0.225rem;
}
.nav-tabs-material .nav-tabs-indicator {
    height: 0.225rem;
}


.tabs-animated {
	overflow: hidden;
  }
  
  .tab-pane {
	height: 250px;
	width: 100%;
  }
  
  #tab1 {
	background: #dddddd;
  }
  
  #tab2 {
	background: #cccccc;
  }
  
  #tab3 {
	background: #bbbbbb;
  }
  
  #tab4 {
	background: #aaaaaa;
  }