.clickable {
    cursor: pointer;
}

.full-text {
    white-space: pre-wrap;
}

.hide {
    display: none;
}

#main {
    min-height: 100%;
}

/*
* === Footer ===
*/

.content {
    min-height: calc(100% - 55px);
    padding: 20px;
}

#top-menu{
    min-height: 55px;
}