.clickable {
    cursor: pointer;
}

.full-text {
    white-space: pre-wrap;
}

.hide {
    display: none;
}

#main {
    min-height: 100vh;
}

/*
* === Footer ===
*/

.content {
    min-height: calc(100vh - 55px);
    padding: 20px;
}

#top-menu {
    min-height: 55px;
}

@media only screen and (max-width: 990px) {
    .menu-separator {
        height: 1px;
        padding: 0px;
        content-visibility: hidden;
        background-color: #ffffff36
    }
}

input[type=file]{
    white-space: normal;
}